/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans');

h1 {
  font-family: 'Fira Sans', serif;
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: left;
}

h2 {
  font-family: 'Fira Sans', serif;
  font-size: 36px;
  font-weight: bold;
  color: #2c3e50;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.posts-list .posts-list-caption{
  font-family: 'Fira Sans';
  border-bottom: 5px solid #FFFFFF;
  padding-bottom: 2rem;
}


/* Sidebar Categories */
.posts-sidebar {
  font-family: 'Fira Sans';
}

.sidebar-section h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.blockquote {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid white;
    border-radius: 9px;
    font-style: normal; /* To remove italic by default */
}

.blockquote p {
    margin: 0; /* Removes any default margin for paragraphs inside blockquotes */
}



